@import url("style/header.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("style/banner.css");
@import url("style/carrossel.css");
@import url("style/topicos.css");
@import url("style/contato.css");
@import url("style/footer.css");
:root
{
    --cor--de--fundo: #EBECEE;
    --cor-fonte: black;
    --fundo-branco:#FFFFFF;
    --Cor-do-titulo:#EB9800;
    --Cor-itens: #002F52;
    --Preto:black;
}

body
{
    background-color: var(--cor--de--fundo);
    color: var(--cor-fonte);
    font-size: 16px;
}